.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstname {
  font-family: "Lato", sans-serif;
  font-size: 36pt;
  line-height: 100%;
  color: #ffffff;
  height: 40px;
  width: 429px;
  margin-top: 5%;
}
.inner {
  color: #3e9cdc;
}

.subject{
   
    text-align: center;
  height: 24px;
  width: 555px;
  left: 50px;
  color: #bbbbbb;
}
